< (click)="newNote()">+</>

<div class="flex">
  <div class="w-1/4">
    @for (note of notes(); track $index) {
    <div class="flex flex-col">
      <span class=" text-2xl">{{ note.title }}</span>
    </div>
    }
  </div>

  @if(createNewForm()){
  <form (ngSubmit)="createNote()" class="flex flex-col mb-4">
    <
      type="submit"
      [disabled]="form.invalid || loading()"
      bg
      class="px-2 mx-auto block  py-1"
    >
      {{ loading() ? 'saving...' : 'save' }}
    </>

    <input
      type="text"
      name="title"
      [(ngModel)]="title"
      placeholder="New Page"
      required
    />

    <textarea
      name="description"
      [(ngModel)]="description"
      placeholder="please enter the detail here"
      required
      rows="2"
      class=" text-white outline-none placeholder-gray-400"
    ></textarea>
  </form>

  } @if(message()) {
  <p class="text-red-500 mb-2">{{ message() }}</p>
  } @else {
  <div class="flex flex-col">
    <span class=" text-2xl">{{ note()!.title }}</span>
    <span>{{ note()!.description }}</span>
  </div>
  }
</div>
