<div class="flex items-center justify-center">
  <div class="w-full max-w-md shadow-lgp-8 space-y-6">
    <h2>Reset Password</h2>

    @if (message()) {
    <p [style.color]="isSuccess() ? 'green' : 'red'">
      {{ message() }}
    </p>
    } @if (loading()) {
    <p>Loading...</p>
    }

    <form [formGroup]="form">
      <div class="flex flex-col">
        <label>new password</label>

        <input type="password" formControlName="newPassword" />

        @if (form.get('newPassword')?.value && form.get('newPassword')?.invalid) {
        <span>
          {{ form.get('newPassword')?.errors?.['zodError'] }}
        </span>
        } @if (fieldErrors()['newPassword']) {
        <span>{{ fieldErrors()['newPassword'] }}</span>
        }
      </div>

      <div class="flex flex-col">
        <label>confirm password</label>

        <input type="password" formControlName="confirmPassword" />
        @if (form.get('confirmPassword')?.value && form.get('confirmPassword')?.invalid) {
        <span>
          {{ form.get('confirmPassword')?.errors?.['zodError'] }}
        </span>
        } @if (fieldErrors()['confirmPassword']) {
        <span>{{ fieldErrors()['confirmPassword'] }}</span>
        }
      </div>

      <button type="submit" [disabled]="form.invalid || loading()" routerLink="/auth/sign-in">
        Reset Password
      </button>
    </form>
  </div>
</div>
