<header class="flex justify-between items-center px-6 py-3">
  <div class="flex items-center gap-4">
    <button (click)="go(auth.isLoggedIn() ? '/dashboard' : '/')" class="flex items-center gap-3">
      <div
        class="w-10 h-10 bg-gradient-to-br from-black via-gray-400 to-black flex items-center justify-center font-extrabold text-white"
      >
        BA
      </div>
    </button>

    <button (click)="go('/dashboard')" class="text-sm !bg-black">Dashboard</button>
  </div>

  <div class="flex items-center gap-4">
    @if (!auth.isLoggedIn()) {
    <button (click)="go('auth/sign-in')" class="text-sm hover:underline">Sign in</button>
    <button
      (click)="go('auth/sign-up')"
      class="text-sm !border !border-white px-2 py-1 !hover:bg-black !hover:text-black"
    >
      sign up
    </button>
    } @else {
    <div class="relative flex items-center gap-4">
      <button class="profile-btn" (click)="toggleDropdown()">
        <lucide-icon [name]="UserIcon" class="w-6 h-6"></lucide-icon>
      </button>

      <button (click)="go('update-password')">
        <lucide-icon [name]="Settings" class="w-6 h-6"></lucide-icon>
      </button>

      @if (dropdownOpen()) {
      <div class="absolute right-0 top-12 w-60 overflow-hidden z-50">
        <div class="px-4 border-b">
          <p>{{ auth.userEmail() }}</p>
        </div>

        <button class="w-full flex items-center px-4 text-sm" (click)="go('profile')">
          <lucide-icon [name]="UserIcon" class="w-6 h-6"></lucide-icon>
          Profile
        </button>

        <button class="w-full flex items-center px-4 text-sm !text-red-600" (click)="logout()">
          <lucide-icon [name]="LogOut" class="w-6 h-6"></lucide-icon>
          Log out
        </button>
      </div>
      }
    </div>
    }
  </div>
</header>
