<div class="min-h-screen flex items-center justify-center">
  <div class="w-full max-w-smp-8 space-y-8">
    <h2>Forgot Password</h2>

    @if (message()){
    <p [style.color]="isSuccess() ? 'green' : 'red'">
      {{ message() }}
    </p>
    } @if (loading()){
    <p>Loading...</p>
    }

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="flex flex-col">
        <label class="mb-1">Email</label>
        <input type="email" formControlName="email" class="" />
        @if (form.get('email')?.value && form.get('email')?.invalid){
        <span> {{ form.get('email')?.errors?.['zodError'] }} </span>} @if (fieldErrors()['email']){
        <span>{{ fieldErrors()['email'] }}</span>
        }
      </div>

      <button type="submit" [disabled]="form.invalid || loading()" class="w-full">Send</button>
    </form>
  </div>
</div>
