<div class="min-h-screen flex flex-col pt-12">
  <app-header></app-header>

  <main
    class="flex-1 flex flex-col justify-start items-center text-center gap-6 px-4 pt-8 md:pt-20 lg:pt-40 text-white hero-section min-h-[60vh]"
  >
    <div
      class="flex items-baseline justify-center font-bold tracking-wide leading-none gap-1"
    ></div>

    <p class="text-xl sm:text-2xl md:text-3xl max-w-md sm:max-w-lg px-3 leading-relaxed font-bold">
      Rentals. Homes. Agents.
    </p>

    <p class="font-bold text-2xl">የብርሃን ቤት ይሁንልዎ!</p>

    <search-house (search)="onSearch($event)"></search-house>
  </main>

  <!-- FEATURED HOUSES -->
  <section class="py-16 px-6 text-center text-black">
    <h2 class="text-3xl font-bold mb-10 text-black!">Browse Homes</h2>

    <!-- <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 max-w-6xl mx-auto"> -->
      <!-- Example house card -->

      <img src="/assets/afterB.png" alt="">
      <!-- <div class="rounded-xl overflow-hidden shadow-lg border"></div> -->

      <!-- <div class="rounded-xl overflow-hidden shadow-lg border"></div> -->
    <!-- </div> -->
  </section>

  <!-- WHY CHOOSE US -->
  <section class="py-20 text-center">
    <h2 class="text-3xl font-bold mb-8">Why Choose Lumina?</h2>

    <div class="grid grid-cols-1 sm:grid-cols-3 gap-10 max-w-5xl mx-auto px-6">
      <div class="p-6 rounded-xl border">
        <h3 class="text-xl font-semibold mb-2">Verified Listings</h3>
        <p class="">Every property is screened for quality and accuracy.</p>
      </div>

      <div class="p-6 rounded-xl border">
        <h3 class="text-xl font-semibold mb-2">Trusted Agents</h3>
        <p class="">Work with experienced, reliable real-estate professionals.</p>
      </div>

      <div class="p-6 rounded-xl border">
        <h3 class="text-xl font-semibold mb-2">Fast Support</h3>
        <p class="">Need help? We respond quickly and clearly.</p>
      </div>
    </div>
  </section>

  <!-- CALL TO ACTION -->
  <section class="py-20 text-center text-black">
    <h2 class="text-3xl font-bold mb-4">Start Your Search Today</h2>
    <p class="mb-8 text-lg">Find your perfect home with ease and confidence.</p>

    <button
      routerLink="/houses"
      class="text-white px-8 py-3 rounded-xl font-semibold hover:bg-gray-800 transition"
    >
      Browse Homes
    </button>
  </section>
</div>
