<div class="min-h-screen flex items-center justify-center auth">
  <div class="w-full max-w-sm p-8 space-y-8">
    <h2>Sign in to Lumina House</h2>

    @if (message()) {
    <p [style.color]="isSuccess() ? 'green' : 'red'">
      {{ message() }}
    </p>
    } @if (loading()) {
    <p>Loading...</p>
    }

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-8">
      <div class="flex flex-col">
        <label>Email</label>
        <input type="email" formControlName="email" />
        @if (form.get('email')?.value && form.get('email')?.invalid) {
        <span>
          {{ form.get('email')?.errors?.['zodError'] }}
        </span>
        } @if (fieldErrors()['email']) {
        <span>{{ fieldErrors()['email'] }}</span>
        }
      </div>

      <div class="flex flex-col">
        <div class="flex justify-between items-center">
          <label>Password</label>
          <a routerLink="/auth/forgot-password" class="hover:underline text-blue-400!">
            Forgot password?
          </a>
        </div>
        <input type="password" formControlName="password" class="" />
        @if (form.get('password')?.value && form.get('password')?.invalid) {
        <span>
          {{ form.get('password')?.errors?.['zodError'] }}
        </span>
        } @if (fieldErrors()['password']) {
        <span>{{ fieldErrors()['password'] }}</span>
        }
      </div>

      <button
        type="submit"
        [disabled]="form.invalid || loading()"
        class="w-full text-white! bg-green-400!"
      >
        {{ loading() ? 'Signing in...' : 'Sign in' }}
      </button>
    </form>

    <p class="flex justify-center items-center">or</p>

    <button type="button" (click)="loginWithGoogle()" class="w-full flex gap-2">
      <mat-icon svgIcon="google" class="w-5 h-5"></mat-icon>
      Sign in with Google
    </button>

    <p>
      new to Lumina?
      <a routerLink="/auth/sign-up" class="hover:underline text-blue-400"> create an account</a>
    </p>
  </div>
</div>
