<div class="min-h-screen flex items-center justify-center auth">
  <div class="w-full max-w-sm p-8 space-y-8">
    <h2>sign up for Lumina House</h2>

    @if (message()) {
    <p [style.color]="isSuccess() ? 'green' : 'red'">
      {{ message() }}
    </p>
    } @if (loading()) {
    <p>Loading...</p>
    }

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-8">
      <div class="flex flex-col">
        <label>Email</label>
        <input type="email" formControlName="email" />
        @if (form.get('email')?.value && form.get('email')?.invalid) {
        <span>
          {{ form.get('email')?.errors?.['zodError'] }}
        </span>
        } @if (fieldErrors()['email']) {
        <span>{{ fieldErrors()['email'] }}</span>
        }
      </div>

      <div class="flex flex-col">
        <label>Password</label>
        <input type="password" formControlName="password" />
        @if (form.get('password')?.value && form.get('password')?.invalid) {
        <span>
          {{ form.get('password')?.errors?.['zodError'] }}
        </span>
        } @if (fieldErrors()['password']) {
        <span>{{ fieldErrors()['password'] }}</span>
        }
      </div>

      <button type="submit" [disabled]="form.invalid || loading()" class="w-full bg-green-400! !">
        {{ loading() ? 'signing up...' : 'sign up' }}
      </button>
    </form>

    <p class="flex justify-center items-center">or</p>

    <button type="button" (click)="loginWithGoogle()" class="flex gap-2">
      <mat-icon svgIcon="google" class="w-5 h-5"></mat-icon>
      sign up with Google
    </button>

    <p>
      Already have an account?
      <a routerLink="/auth/sign-in" class="hover:underline text-blue-400!">Sign In</a>
    </p>
  </div>
</div>
