@import 'tailwindcss';

@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

.hero-section {
  background-image: url('/assets/house.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.auth {
  background: black;
  color: white;
  font: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth button {
  background: #000;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

lucide-icon:hover {
  cursor: pointer;
}

.auth button:hover {
  background: black;
  color: white;
  border: solid 1px;
}

button {
  cursor: pointer;
}

label {
  margin-bottom: 0.25rem;
  font-weight: 500;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.auth h2 {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

input {
  border-width: 1px;
  border-color: rgb(96, 165, 250);
  border-radius: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.auth span {
  color: red;
}
