@import 'tailwindcss';

@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

body {
  background: black;
  color: white;
}

.auth button {
  background: white;
  color: black;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.auth {
  background: indigo;
  font: bolder;
  display: flex;
  align-items: center;
  justify-content: center;

}

.auth button:hover {
  background: black;
  color: white;
}

button {
  border-radius: 3px;
  cursor: pointer;
}
/*
span {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
} */

p {
  text-align: center;
  font-size: 0.875rem;
  font-weight: 600;
}

label {
  margin-bottom: 0.25rem;
  font-weight: 500;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: white;
}

a {
  font-size: 0.875rem;
  color: rgb(96, 165, 250);
}

a:hover {
  text-decoration: underline;
}

input {
  border-width: 1px;
  border-color: rgb(96, 165, 250);
  border-radius: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
